<!doctype html>
<html>

<head>
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">
</head>

<body>

    <legend>Creacion de cuenta</legend>

    <div id="login_panel">
        <form method="POST" action="/create_count_">

            <label for="username">Usuario:</label>
            <input type="text" name="username" id="username">

            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password">

            <input type="submit" value="Crear cuenta" formmethod="post">
        </form>
    </div>

</body>


</html>