{% extends "layout.html" %} {% block content %}

<div class="jumbotron">
    <h1 class="display-4">Hola usuario {{ username }}</h1>
    <p class="lead">Usted es bienvenido</p>
    <hr class="my-4">
    <!--<a class="btn btn-primary btn-lg" href="/gato" role="button">pulsame</a>-->

    <div class="jumbotron text-center">
        <h1>Usuario, aqui puede situar algunos enlaces y datos relevantes</h1>
    </div>
    <hr class="my-4">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Sus Datos</h3>
                <p>Aqui puede observar su informacion como la contraseña o la fecha de creacion de su usuario</p>
                <a href="{{ url_for('my_data', username=username, password=password) }}">My informacion</a>
            </div>
            <div class="col-sm-4">
                <h3>Mi sitio web</h3>
                <p>Aqui puede observar como es su sitio web</p>
                <a href="{{ url_for('home2', username=username) }}">My informacion</a>
            </div>
            <div class="col-sm-4">
                <h3>Personalizar su sitio web</h3>
                <p>Aqui puede editar usted su sitio web.</p>
                <a href="{{ url_for('edit_my_site', username=username, password=password) }}">edit</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}